body {
    font-family: "Montserrat", serif;
    color: #2d3c49;
}

a {
    color: inherit;
}

.introduction {
    border: 3px #7d97ad;
    border-style: none none solid none;
    padding: 15px;
}

.udacity-logo {
    width: 80px;
    height: 70px;
}

.introduction h6 {
    color: #02b3e4;
}

.code-example {
    padding: 20px 0 20px;
}

.code-image {
    margin-top: 20px;
    width: 100%;
}

.featured-heading {
    color: #7d97ad;
}

.featured-work {
    padding: 15px;
}

.porfolio-image {
    width: 290px;
    height: 190px;
}

footer {
    padding: 15px;
    color: white;
    background-color: #7d97ad;
    font-size: 100%;
}